@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Sen&display=swap');

body{

    width: 100%;
    height: 100%
}

html{

    width: 100%;
    height: 100%
}

a{

    text-decoration: none;
}

p{

    font-family: 'Mulish', sans-serif;
}

h1{

    margin-top: 2%;
}

#navbar {

    background-color: #414A4C;
    width: 100%;
    display: flex;
   
}

#tituloProduto{

    display: flex;
    margin-bottom: 5%;
    font-family: 'Sen', sans-serif;
}

#editar{

    display: flex;
    margin-bottom: 30%;
    font-family: 'Mulish', sans-serif;

}

.product_container {
    border-radius: 10px;
    background-color: #dddddd;
    display: flex;
    transition: 0.3s ease-in-out;
}

#carouselAnuncios{

    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product_container:hover {
    cursor: pointer;
    color: #171717;
    background-color: #a0a0a0e1;
}

.product_image_container img {
    width: 15em;
    height: 15em;
    border-radius: 8px;
    
}

.product_description_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 73%;
}

.product_description_container h3 {
    font-size: 1.9em;
}

.product_description_container p {
    margin-top: 5px;
}

.publication_date {
    font-weight: 600;
}

@media (max-width: 480px) {

    .product_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .product_image_container img {
        margin: 10px 0;
    }
}

