@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Sen&display=swap');

body{

    width: 100%;
    height: 100%
}

html{
    width: 100%;
    height: 100%
}

.tituloProduto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2% auto auto;
}

.tituloProduto .col-sm-4 #tituloAnuncio{
    font-family: 'Sen', sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 200;
    border-bottom: #000 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.tituloProduto .col-sm-4 #tituloAnuncio::placeholder {
    font-family: 'Sen', sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

.tituloProduto .col-sm-4 #tituloAnuncio:focus {
    box-shadow: 0 0 0 0;
    outline: none;
}

.tituloProduto .col-sm-2 {
    align-items: center;
    margin-top: 2%;
    display: flex;
}

.tituloProduto .col-sm-2 .form-select {
    font-family: 'Sen', sans-serif;
    box-shadow: 0 0 0 0;
    outline: none;
}

.tituloProduto .col-sm-2 .form-select .opcoes{
    font-family: 'Mulish', sans-serif;
}

.containerPrincipal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3% auto auto;
}

.containerDireita{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.containerDireita .descricao{
    margin-bottom: 5%;
    width: 90%;
    height: 56.5%;
}

.containerDireita .descricao #exampleFormControlTextarea1 {
    font-family: 'Mulish', sans-serif;
    outline: none;
    border: #000 solid 1px;
    margin-bottom: 3%;
    border-radius: 0;
}

.thumb-image {
    float:left;
    width:100px;
    position:relative;
    padding:5px;

}

.posiBotaoSalvar{
    margin-top: 5%;
}