body {
    background-image: url(../img/pexels-gustavo-fring-7156174.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    width: 100%;
    border: none;
}

.form_container {
    width: 25%;
    box-shadow: 0 0 10px 2px black;
    padding: 3%;
    background-color: #808080b3;
    border-radius: 10px;
    min-width: 250px;
}


label {
    color: white;
}

.texto_label {
    font-weight: 18px;
    color: #ffffff;
}

.btn_login {
    width: 100%;
    background-color: #2ca82c;
    border-color: #379e37;
    margin: 5% auto 10%;
}

.btn_login:hover {
    background-color: #008000;
    border-color: #379e37;
}

.cadastro_link {
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.cadastro_link:hover {
    color: #00b300;
}