.carousel-indicators button.thumbnail {
    width: 100px;
  }
  .carousel-indicators button.thumbnail:not(.active) {
    opacity: 0.7;
  }
  .carousel-indicators {
    position: static;
  }
  @media screen and (min-width: 992px) {
    .carousel {
      max-width: 70%;
      margin: 0 auto;
    }
  }

  .tituloProduto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
  }

  .textoProduto{
    box-shadow: 0 0 10px 2px;
    border-radius: 6px;
    padding: 2%;
    flex-wrap: wrap;
    display: flex;
    width: 300px;
    border: 2px black solid;
  }
  
  .chatBotao{
    display: flex;
  }
  
  .chatBotao h6{
    margin-left: 2%;
  }

